.container {
  position: relative;
  width: 250px;
  height: 350px;
}

.photo {
  width: 100%;
  width: 100%;
  border-radius: var(--border-radius-medium);
  object-fit: cover;
  object-position: center center;
}

.favorite {
  position: absolute;
  top: -14px;
  right: -17.5px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
  filter: drop-shadow(0 0 2px #000);
}