:root {
	--color-white: #fff;
	--color-black: #000;
	--color-grey: #9c9c9c;
	--color-ligthgrey: #dfe2df;
	--color-blue: #6a83fb;
	
	--font-size-small: 14px;
	--fort-size-medium: 16px;
	--font-family-main: sans-serif;
	--font-bolt: 600;
	
	--transition: 0.4s;
}
